* {
    padding: 0px;
    margin: 0px;
}

.Entry {
    height: 400px;
    width: 700px;
    text-align: center;
    background-image: url("http://www.wallpaperup.com/uploads/wallpapers/2014/06/27/380291/f9dfeb1011049a5bc85e8edd153d730d.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    align-items: center;
    margin-left: 25%;
    color: black;
    font-family: cursive;
    font-size: 70px;
    font-weight: bolder;
}

#font_style {
    font-family: cursive;
    font-size: 70px;
    font-weight: bolder;
    text-align: center;
    color: white;
}

.hahaha {
    background-color: black;
}

.Entry_point {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
}

button {
    size: 10px;
}